$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

@import "utils/_variables.sass";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "modules/_nav.sass";

body {
    background: $bg-color;
}

.panel{
  margin: 15px 15px;
  width: 300px;
  float: left;
}