.scrollable-container {
  display: flex;
  flex-direction: row;

  .drag-control {
    min-height: 20px;
  }

  .add-story-button {
    position: relative;
    top: -10px;
    text-align: right;

    .add-story {
      color: #666;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .panel-primary{
    border-color: #7986CB;
    >.panel-heading{
      border-color: #7986CB;
      background-color: #7986CB;
      color:white;
    }    
  }
  .panel-info{
    border-color: #5C6BC0;
    >.panel-heading{
      border-color: #5C6BC0;
      background-color: #5C6BC0;
      color:white;
    }    
  } 
  .panel-danger{
    border-color: #3949AB;
    >.panel-heading{
      border-color: #3949AB;
      background-color: #3949AB;
      color:white;
    }    
  } 
  .panel-success{
    border-color: #303F9F;
    >.panel-heading{
      border-color: #303F9F;
      background-color: #303F9F;
      color:white;
    }    
  } 
}

.panel-board{
  margin: 15px 15px;
  width: 20%;
  min-width: 270px;
  max-width: 270px;
  float: left;
  margin-top:60px;   
} 

.panel-heading-board a{
  cursor: pointer;
  &:after {
    font-family:'Glyphicons Halflings';
    content:"\e114";
    float: right;
    color: $navbar-default-link-hover-color;
  }
}

.panel-heading-board a.collapsed:after {
  content:"\e080";
  cursor:pointer;
}

.collapse-width {
  height: auto;
  transition-delay: 0.3s;

  min-width: 135px;
  width: 8%;
}

.panel {
  transition: all 0.7s ease;
}