.login {
	display: flex;
	justify-content: center;
	margin-top: 70px;
	
	.login-input {
		width: 30vw;
		min-width: 145px;
	}

	.username {
		margin-bottom: 10px;
	}

	button {
		float: right;
		margin-top: 10px;
	}

	::-webkit-input-placeholder {
		text-align: center;
	}
}