.navbar-brand-centered
    position: absolute
    left: 50%
    display: block
    width: 160px
    text-align: center
    background:
        image: url("../images/my-pee.svg")
        repeat: no-repeat
        position: center
    @media (max-width: $grid-float-breakpoint-max) 
        left: 0 
        width: 70px
        padding: 10px 10px   

.navbar-right
    float: right
    @media (max-width: $grid-float-breakpoint-max) 
        clear: both
        float: left

.container,
.container-fluid 
    .navbar-header,
    .navbar-collapse
        margin-right: 0
        margin-left: 0
    
.navbar
    border-radius: 0px

    .container
        padding: 0px
        width: 100%

        .navbar-toggle
            border: none
            cursor: pointer

            &:hover
                background-color: transparent

                .icon-bar
                    background-color: $accent-color

            .icon-bar
                background-color: white

.navbar-nav
    li
        a
            padding-bottom: 10px

            &:hover
                border-bottom: 2px solid $accent-color