.story {
	margin:auto;
	width:99%;
}

.story-header {
	margin:auto;
	vertical-align: bottom;
	height:20px;
	white-space: nowrap;
    overflow-y: hidden;

    p {
		font-size: 13px;
		font-weight: 300;
		vertical-align: bottom;
		margin-top: 1px;
	}
}

.story-info {
	white-space: normal;
}

.story-status {	
	width :40%;
	float:right;
	height:14px;
	margin-top: 2px;

	.progress-bar{
		line-height: 13px;
		font-size:11px;
	}
}

.story-prio {
	width: 40%;
	float:right;
}

.story-name {
	float : left;
	width: 60%;
	overflow:scroll;
}

.panel-body h4 {
	font-size: 14px;
}

.panel-body p {
	font-size: 13px;
}

.issues {
	i {
		color: #eee;
	}

	.has-issues {
		color: $accent-color;
		cursor: pointer;
	}
}