.workItem{
	margin:auto;
	width:250px;
}

.workItemInfo{
	margin-bottom:3px;
	height:30px;
	p{
		font-size: 13px;
		font-weight: 300;
		margin-bottom:0;
	}
	i{
		margin-left:6px;
	}
}

.workItemStatus{	
	width :40%;
	float:right;
}

.workItemPrio{
	width: 40%;
	float:right;
}

.workItemName{
	float : left;
	width: 60%;
	overflow:scroll;
}

.panel-body h4{
	font-size: 16px;
}

.panel-body p{
	font-size: 14px;
}

