
<mp-collapsible-column styleclass="panel-primary" title="To Do">
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
</mp-collapsible-column>
<mp-collapsible-column styleclass="panel-info" title="In Progress">
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
</mp-collapsible-column>
<mp-collapsible-column styleclass="panel-danger" title="Test">
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
	<mp-work-item></mp-work-item>
</mp-collapsible-column>
<mp-collapsible-column styleclass="panel-success" title="Done">
	<mp-work-item></mp-work-item>
</mp-collapsible-column>

