
<mp-collapsible-column styleclass="panel-primary" title="To Do">
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
</mp-collapsible-column>
<mp-collapsible-column styleclass="panel-info" title="In Progress">
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
</mp-collapsible-column>
<mp-collapsible-column styleclass="panel-danger" title="Test">
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
	<my-work-item></my-work-item>
</mp-collapsible-column>
<mp-collapsible-column styleclass="panel-success" title="Done">
	<my-work-item></my-work-item>
</mp-collapsible-column>

