<mp-nav left="linksLeft"></mp-nav>
<div class="login">
	<form name="loginForm" class="simple-form">
		<input type="text" ng-pattern="emailCheck" class="form-control login-input username" 
		ng-model="user.email" placeholder="Email" ng-keyup="$event.keyCode == 13" ng-class="{'email-error': loginForm.$error.pattern}" ng-model-options="{updateOn: 'blur'}">
		<input class="form-control password login-input" type="password" 
		ng-model="user.password" placeholder="password" ng-keyup="$event.keyCode == 13">
		<p ng-show="toggleWrongCredentials">wrong password or email</p>
		<button class="btn btn-success" ng-click="login()">Log in</button>
	</form>
</div>








