<mp-nav left="leftLinks" right="rightLinks" stories="stories"></mp-nav>

<div class="row">
        <div class="col-md-3">
             <mp-collapsible-column styleclass="panel-primary" title="Backlog">
                <div as-sortable="dragControlListeners" ng-model="stories" style="min-height: 20px;">
                    <div ng-repeat="story in stories" as-sortable-item>
                        <div as-sortable-item-handle>
                            <mp-story story="story"></mp-story>
                        </div>
                    </div>
                </div>
            </mp-collapsible-column>
        </div>
        <div class="col-md-8">
            <mp-collapsible-column styleclass="panel-primary" ng-repeat="list in userlist track by $index" title="{{userlist[$index].user.firstName}}">
                <div style="min-height: 20px;" as-sortable="dragControlListeners" ng-model="list.list">
                    <div ng-repeat="story in list.list" as-sortable-item>
                        <div as-sortable-item-handle>
                            <mp-story story="story"></mp-story>
                        </div>
                    </div>
                </div>
            </mp-collapsible-column>
        </div>
    </div>
