<div> 
	<accordion close-others="oneAtATime"> 
		<accordion-group is-open="status.open" class="panel-danger story"> 
			<accordion-heading> 
				<div class="story-header">{{story.name}}
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"> </i> 
					<p class="story-prio">Prio : Hight</p> 
				</div> 
			</accordion-heading> 
			<div class="story-info"> 
				<p class="story-name">Aymen Arbi</p> 
				<progressbar class="progress-striped active workItemStatus" animate="false" value="66" type="success"> 
					<b>66%</b>
				</progressbar> 
			</div> 
			<h4>Descritpion:</h4> 
			<p>This is just some content to illustrate fancy headings.</p> 
		</accordion-group> 
	</accordion> 
</div>