<div> 
	<accordion close-others="oneAtATime"> 
		<accordion-group is-open="status.open" class="story"> 
			<accordion-heading> 
				<div class="story-header">{{story.name}}
					<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"> </i> 
					<p class="story-prio">{{story.priority}}</p> 
				</div> 
			</accordion-heading> 
			<div class="dropdown">
				<button class="glyphicon glyphicon-cog dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a ng-click="addIssue()">Add issue</a></li>					
					    <li><a ng-click="openEdit()">Edit</a></li>
					    <li><a ng-click="removeStory()">Remove</a></li>
		  			</ul>
  			</div>
			<div class="story-info"> 
				<p class="story-name">{{story.user.firstname}} {{story.user.lastname}}</p> 
				<progressbar class="progress-striped active workItemStatus" animate="false" value="dynamic" type="success"></progressbar> 
			</div> 
			<p>{{story.description}}</p>
			<div class="issues">
				<i class="pull-right glyphicon glyphicon-warning-sign" ng-click="openIssuesModal()" ng-class="{'has-issues': hasIssues()}"></i>
			</div>
		</accordion-group> 
	</accordion> 
</div>